root = true

[*.cs]

# CSIsNull001: Use `is null` for null checks
dotnet_diagnostic.CSIsNull001.severity = error

# CSIsNull002: Use `is object` for non-null checks
dotnet_diagnostic.CSIsNull002.severity = error

# CA1507: nameof を使用してシンボル名を表現します
dotnet_diagnostic.CA1507.severity = warning

# CA1510: ArgumentNullException スロー ヘルパーを使用する
dotnet_diagnostic.CA1510.severity = warning

# CA1511: ArgumentException スロー ヘルパーを使用する
dotnet_diagnostic.CA1511.severity = warning

# CA1512: ArgumentOutOfRangeException スロー ヘルパーを使用する
dotnet_diagnostic.CA1512.severity = warning

# CA1513: ObjectDisposedException スロー ヘルパーを使用する
dotnet_diagnostic.CA1513.severity = warning

# IDE0031: null 値の反映を使用します
dotnet_diagnostic.IDE0031.severity = warning

# IDE0038: パターン マッチングを使用します
dotnet_diagnostic.IDE0038.severity = warning

# IDE0074: 複合代入を使用
dotnet_diagnostic.IDE0074.severity = warning
